<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- @BeforeSuite -->
<suite name="TestAll">

	<parameter name="driver" value="driver"></parameter>
	
    <!-- @BeforeTest -->
    <test name="case1">
      <classes>
        
        <class name="baidu.BaiduMain" />
        <class name="baidu.Baidu" />
        <class name="baidu.InitDriver" />
        
      </classes>
    </test>
    <!-- @AfterTest -->

   

</suite>
<!-- @AfterSuite -->